<div class='signupBody'>
    <div class='bg-layer'>
        <div class="new-user-container">
            <h1>Welcome!!</h1>
            <%= form_with(model: @user, local: true) do |f| %>
                <section class="u-form,newName">
                    <%= f.text_field :name, placeholder:"name",class: 'form-control' %>
                    <i class="fas fa-user"></i>
                </section>
                <section class="u-form,newEmail">
                    <%= f.email_field :email, placeholder:"email",class: 'form-control' %>
                    <i class="fas fa-envelope"></i>
                </section>
                <section class="u-form,newPassword">
                    <%= f.password_field :password, placeholder:"password",class: 'form-control' %>
                    <i class="fas fa-lock"></i>
                </section>
                
                <%= f.submit "CREATE", class: 'createBtn' %>
            <% end %>
            <span class='backToTop'>
            <%= link_to "TOPへ戻る",root_url %>
            </span>
        </div>
    </div>
</div>