<head>
</head>


<div class='signupBody'>
    <div class='bg-layer'>
        <div class="new-user-container">
            <h1>Welcome!!</h1>
            <%= form_with(model: @user, local: true) do |f| %>
                <section class="u-form,newName">
                    <%= f.text_field :name, placeholder:"name",maxlength:8 ,class: 'form-control' %>
                    <i class="fas fa-user"></i>
                </section>
                <section class="u-form,newEmail">
                    <%= f.email_field :email, placeholder:"email",class: 'form-control' %>
                    <i class="fas fa-envelope"></i>
                </section>
                <section class="u-form,newPassword">
                    <%= f.password_field :password,placeholder:"password",maxlength:12,pattern:'(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}',title:'大文字アルファベット、小文字アルファベット、数字を含む8文字以上12文字以下で入力してください',id:'js-password',class: 'form-control' %>
                    <i class="fas fa-lock"></i>
                </section>
                <section class="u-form,confirmPassword">
                    <%= f.password_field :password,placeholder:"confirm password",id:'js-confirmPassword',class: 'form-control'%>
                    
                </section>
                
                <%= f.submit "CREATE", class: 'createBtn' ,id:'js-create'%>
            <% end %>
            <span class='backToTop'>
            <%= link_to "TOPへ戻る",root_url %>
            </span>
        </div>
    </div>
</div>

<% if false %>
jsファイルを読み込む位置をviewファイルの一番最後にして要素を確実に取得する（nullが返ってこないようにする）
<% end %>
<%= javascript_pack_tag "create" %>