<head>
    <%= stylesheet_link_tag 'prefectures', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>


<div class="container">
    <h2><%= @prefecture.name %>の思い出を記録する</h2>

    <div class="item1"><span>1</span>どんな思い出？</div>

    <!-- テスト -->
    <%= form_with(model: @memory, local: true) do |f| %>
        <!-- user_idとprefectur_idとprefecture_nameは、f.hidden_fieldで送信 -->
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :prefecture_id, :value => @prefecture.id %>
        <%= f.hidden_field :prefecture_name, :value => @prefecture.name %>

        <!-- コメント欄 -->
        <div class="text-wrapper">
        <%= f.text_area :comment, class: '' , placeholder: "コメントを残す", id: "detail", :size => "30×10", minlength: "10", maxlength: "141"  %>
        <!-- <textarea name="message" id="detail" cols="30" rows="10" minlength="10" maxlength="141"></textarea> -->
        </div>

        <!-- 写真登録 -->
        <div class="photo-section">
            <!-- プレビューした写真を表示するエリア -->
            <!-- DBに保存された画像の有無で条件分岐はここでは不要？一旦プレビューフォームのみ表示させる -->
            <img src="" id="image-preview">

            <!-- 条件分岐コメントアウト -->
            <% if false %>
            <% if @memory.img? %>
            <%# if @memory_img? %>
                <%#= image_tag @prefecture.img.url, id: "image-preview2" %>
                <img src="<%= @prefecture.img %>">
            <% else %>
                <img src="" id="image-preview">
            <% end %>
            <% end %>
            <!-- 条件分岐コメントアウトここまで -->

            <label class="input-button">
                <%= f.file_field :img, id: "image" %>
                <!-- <input type="file" id="image"> -->
            </label>
        </div>

        <!-- 登録ボタン -->
        <div class="btn-section">
        　<%= f.submit "保存", class: "savebtn" %>
        </div>

    <% end %>

        <!-- トップページに戻るボタン -->
        <div class="btn-section">
        <input type="submit" value="戻る" class="backBtn" id='js-backBtn'>
        </div>

</div>

































    <!-- 下記コメントアウトします -->
    <% if false %>

    <!-- ここからform_with -->
        <%= form_with(model: @prefecture, local: true) do |f| %>


        <div class="text-wrapper">
        <%= f.text_area :comment, class: '' , placeholder: "コメントを残す", id: "detail", :size => "30×10", minlength: "10", maxlength: "141"  %>
        <!-- <textarea name="message" id="detail" cols="30" rows="10" minlength="10" maxlength="141"></textarea> -->
        </div>
        <!-- 写真登録 -->
        <div class="photo-section">
        <!-- プレビューした写真を表示するエリア -->
        <!-- DBに保存された画像の有無で条件分岐 -->
        <% if @prefecture.img? %>
            <%= image_tag @prefecture.img.url, id: "image-preview2" %>
        <% else %>
            <img src="" id="image-preview">
        <% end %>
        　<!-- 条件分岐ここまで -->

        <label class="input-button">
            <%= f.file_field :img, id: "image" %>
            <!-- <input type="file" id="image"> -->
        </label>
        </div>

        <!-- 登録ボタン -->
        <div class="btn-section">
        　<%= f.submit "保存", class: "savebtn" %>
        <!-- <input type="submit" value="保存" class="savebtn"> -->
        </div>


        <% end %>
        <!-- form_withここまで -->
    <% end %>
    <!-- コメントアウトここまで -->



    





