<%# <div id="js-search-modal" class="serach-modal hidden"> %>
    <section class="search-header">
      <%# ✖️を押すとトップページに戻る %>
      <%= link_to root_url, method: :get do %>
        <i class="fas fa-times fa-2x" id="js-cross"></i>
      <% end %>
      <h2>Select Prefecture</h2>
      <%# Formの外からCheckのPostを実行する %>
      <button type="submit" form="testBtn">
        <i class="fas fa-check fa-2x" id='js-check' type="submit" form="testBtn"></i>
      </button>

      <%# 元の記述コメントアウト中 %>
      <%# <i class="fas fa-check fa-2x" id='js-check'></i> %>
    </section>

    <form action="" class="search-form">
      <!-- <i class="fas fa-search-plus"></i> -->
      <input type="text" name="" id="searchInput">
      <span>Cancel</span>
    </form>

    <!-- 県名一覧 -->
    <article>
      <!-- 配列で追加するとDOM操作で追加する？それともあらかじめ作成しておく？→とりあえずDOMでcreateElement使ってみる。idをpref1~47としてDOMで付与していく -->
      <ul id="js-pref-list"> 
        <!-- ここに県を追加していく -->
          <%= form_with(model: @check, local: true, id: 'testBtn') do |form| %>
            
            <%= form.hidden_field :user_id, :value => current_user.id %>
              <ul id="js-pref-list">
                <li id="jsPref0" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 1, nil %><span class ='circle'></span>北海道</li>
                <li id="jsPref1" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 2, nil %>青森</li>
                <li id="jsPref2" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 3, nil %>秋田</li>
                <li id="jsPref3" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 4, nil %>岩手</li>
                <li id="jsPref4" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 5, nil %>山形</li>
                <li id="jsPref5" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 6, nil %>宮城</li>
                <li id="jsPref6" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 7, nil %>福島</li>
                <li id="jsPref7" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 10, nil %>群馬</li>
                <li id="jsPref8" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 9, nil %>栃木</li>
                <li id="jsPref9" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 8, nil %>茨城</li>
                <li id="jsPref10" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 11, nil %>埼玉</li>
                <li id="jsPref11" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 12, nil %>千葉</li>
                <li id="jsPref12" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 13, nil %>東京</li>
                <li id="jsPref13" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 14, nil %>神奈川</li>
                <li id="jsPref14" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 18, nil %>新潟</li>
                <li id="jsPref15" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 19, nil %>富山</li>
                <li id="jsPref16" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 20, nil %>石川</li>
                <li id="jsPref17" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 47, nil %>福井</li>
                <li id="jsPref18" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 17, nil %>長野</li>
                <li id="jsPref19" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 22, nil %>岐阜</li>
                <li id="jsPref20" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 16, nil %>山梨</li>
                <li id="jsPref21" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 21, nil %>愛知</li>
                <li id="jsPref22" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 15, nil %>静岡</li>
                <li id="jsPref23" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 28, nil %>京都</li>
                <li id="jsPref24" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 24, nil %>滋賀</li>
                <li id="jsPref25" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 27, nil %>大阪</li>
                <li id="jsPref26" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 26, nil %>奈良</li>
                <li id="jsPref27" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 23, nil %>三重</li>
                <li id="jsPref28" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 25, nil %>和歌山</li>
                <li id="jsPref29" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 29, nil %>兵庫</li>
                <li id="jsPref30" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 32, nil %>鳥取</li>
                <li id="jsPref31" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 30, nil %>岡山</li>
                <li id="jsPref32" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 33, nil %>島根</li>
                <li id="jsPref33" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 31, nil %>広島</li>
                <li id="jsPref34" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 38, nil %>山口</li>
                <li id="jsPref35" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 34, nil %>香川</li>
                <li id="jsPref36" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 36, nil %>愛媛</li>
                <li id="jsPref37" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 35, nil %>徳島</li>
                <li id="jsPref38" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 37, nil %>高知</li>
                <li id="jsPref39" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 39, nil %>福岡</li>
                <li id="jsPref40" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 40, nil %>佐賀</li>
                <li id="jsPref41" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 41, nil %>長崎</li>
                <li id="jsPref42" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 42, nil %>大分</li>
                <li id="jsPref43" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 43, nil %>熊本</li>
                <li id="jsPref44" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 44, nil %>宮崎</li>
                <li id="jsPref45" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 45, nil %>鹿児島</li>
                <li id="jsPref46" class="searchPref"><%= form.check_box :prefecture_ids, { multiple: true }, 46, nil %>沖縄</li>  
              </ul>

            <%= form.submit %>
            <%#= form.button :type => "submit", style: 'border-style: none;' do %>
              <%# <i class='fas fa-check fa-2x'></i> %>
            <%# end %>

          <% end %>


        <!-- <li><i class="fas fa-check-circle"></i></li> -->
      </ul>
    </article>
    <%= link_to "TOP", root_url %>
<%# </div> %>

<%= javascript_pack_tag 'prefecture' %>