<h2>Prefectures you've ever been to.</h2>

<ul>
    <% @checks.each do |check| %>
        <li>
            <!-- check.idはuser.idとuser.name(user.id)と紐づけする -->
            check_id: <%= check.id %>,
            <!-- ユーザー名 -->
            user_id: <%= check.user_id %>,
            ユーザー名: <%= check.user.name %>,
            <!-- check.prefecture_nameとprefecture.nameの紐づけ -->
            <!-- 都道府県: <%= check.prefecture_name %> -->
            都道府県id: <%= check.prefecture_ids %>
            都道府県名：
            <%# チェックされた都道府県名を表示 %>
            <% check.prefectures.find(check.prefecture_ids).each do |che| %>
                <%= che.name %>
            <% end %>
            <span><%= link_to "編集", edit_check_path(check.id) %></span>
            <span><%= link_to " 、削除", check_path(check.id), method: :delete %></span>
        </li>
    <% end %>
</ul>


<div>
    <%= link_to "NEW", checks_new_path %>
</div>
<div>
    <%= link_to "TOP", root_url %>
</div>